<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AF Saúde</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16871438964"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-16871438964');
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q9GG8JQLH5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Q9GG8JQLH5');
    </script>

    <!-- STYLE CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-counter.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-btn-wa.css' %}">

    <!-- FontAwesome 5 CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- SCRIPT JAVASCRIPT -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/counter.js' %}"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.webp' %}"  width="100" height="100">
        </a>
    </nav>

    <!-- HEADER -->
    <section >
        <div class="header">
            <h1>AF Saúde</h1>
            <h2>Encontramos a mehor opção em Planos de Saúde para sua familia ou empresa</h2>
        </div>
        <div class="counter">
            <div class="stats-container">
                <div class="stat-item">
                    <i class="fas fa-plus"></i>
                    <span class="stat-number" data-value="50">0</span>
                    <span class="stat-label">Cidades Atendidas</span>
                </div> 
                <div class="stat-item">
                    <i class="fas fa-plus"></i>
                    <span class="stat-number" data-value="1200">0</span>
                    <span class="stat-label">Clientes Atendidos</span>
                </div>
                <div class="stat-item">
                    <i class="fas fa-plus"></i>
                    <span class="stat-number" data-value="10">0</span>
                    <span class="stat-label">Anos de Experiência</span>
                </div>
            </div>
        </div>
    </section>

     <!-- CARROUSSEL 3D -->
    <section id="carousel3d" class="carousel-container">
        <div class="carousel">
            <div class="carousel-item" style="--i:0;"><img src="{% static 'img/img-carroussel-flutuante-1.png' %}" alt="Imagem 1"></div>
            <div class="carousel-item" style="--i:1;"><img src="{% static 'img/img-carroussel-flutuante-2.png' %}" alt="Imagem 2"></div>
            <div class="carousel-item" style="--i:2;"><img src="{% static 'img/img-carroussel-flutuante-3.png' %}" alt="Imagem 3"></div>
            <div class="carousel-item" style="--i:3;"><img src="{% static 'img/img-carroussel-flutuante-4.png' %}" alt="Imagem 4"></div>
            <div class="carousel-item" style="--i:4;"><img src="{% static 'img/img-carroussel-flutuante-5.png' %}" alt="Imagem 5"></div>
            <div class="carousel-item" style="--i:5;"><img src="{% static 'img/img-carroussel-flutuante-6.png' %}" alt="Imagem 6"></div>
            <div class="carousel-item" style="--i:6;"><img src="{% static 'img/img-carroussel-flutuante-7.png' %}" alt="Imagem 7"></div>
            <div class="carousel-item" style="--i:7;"><img src="{% static 'img/img-carroussel-flutuante-8.png' %}" alt="Imagem 8"></div>
            <div class="carousel-item" style="--i:8;"><img src="{% static 'img/img-carroussel-flutuante-9.png' %}" alt="Imagem 9"></div>
            <div class="carousel-item" style="--i:9;"><img src="{% static 'img/img-carroussel-flutuante-10.png' %}" alt="Imagem 10"></div>
            <div class="carousel-item" style="--i:10;"><img src="{% static 'img/img-carroussel-flutuante-11.png' %}" alt="Imagem 11"></div>
            
        </div>
        <button class="prev" onclick="rotateCarousel(-1)">&#10094;</button>
        <button class="next" onclick="rotateCarousel(1)">&#10095;</button>
    </section>

    <!-- FORMULÁRIO -->
    <section>
        <div class="form">
            <h1>Preencha o formulário e garanta as melhores opções de planos de saúde direto no seu celular</h1>
            <form method="POST" >
                    <!-- CSRF_TOKEN -->
                     {% csrf_token %}
                    <div class="form-field ">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" class="form-control" name="nome">
                        <small id="msg-erro-nome"></small>
                    </div>
                    <div class="form-field">
                        <label for="whatsapp">Whatsapp</label>
                        <input type="text" id="whatsapp" class="form-control" maxlength="14" name="whatsapp">
                        <small id="msg-erro-whatsapp">mensagem de erro</small>
                    </div>
                    <!-- Checkbox Aceitação de Termos -->
                    <div class="form-field" >
                        <label for="aceito-termos">
                            <input type="checkbox" id="aceito-termos" name="aceito_termos" maxlength="12" disabled>
                            <small class="text-center text-dark">*Obrigatório - </small>
                            <small class="text-center text-dark text-justify">
                                Ao enviar este formulário, você concorda com a nossa
                                <a class="destaca_link" href="{% url 'politica_privacidade' %}" target="_blank">
                                    <em>política privacidade</em>
                                </a>
                                tratamento dos seus dados pessoais nos termos da Lei Geral de Proteção de Dados (LGPD - Lei nº 13.709/2018) e conforme nossa Política de Privacidade. Utilizamos suas informações para entrar em contato e oferecer nossos serviços. Seus dados serão mantidos em sigilo e não serão compartilhados com terceiros sem sua autorização. Você pode solicitar a <a class="destaca_link" href="https://wa.me/5516999628815?text=Gostaria%20de%20solicitar%20minha%20exclus%C3%A3o%20da%20base%20de%20dados" target="_blank">exclusão dos seus dados</a> a qualquer momento.
                                
                            </small>
                        </label>
                        <br>
                        <!-- Script do formulário -->
                        <script type="text/javascript" src="{% static 'js/script-form.js' %}"></script>
                    </div>
                    <!-- BTN FORM -->
                    <div class="form-field btn-enviar-container">
                        <button class="btn-custom">Garanta sua cotação personalizada</button>
                    </div>
            </form>
        </div>
    </section>
    <script type="text/javascript" src="{% static 'js/script-carousel.js' %}"></script>

    <!-- TEXTO PERSUASSIVO -->
    <section>
        <div id="descricao">
            <div class="componente-descricao" >
                <h1>Mais de 10 anos de experiência conectando você ao plano de saúde ideal!!</h1>
                <p>A AF Saúde, já ajudamos mais de 1.000 clientes em todo o Brasil – desde famílias que buscam proteção e tranquilidade até pequenas e grandes empresas que querem oferecer o melhor benefício aos seus colaboradores.<br>Com nossa assessoria especializada, analisamos suas necessidades e encontramos o plano de saúde perfeito para você, garantindo custo-benefício, qualidade e segurança.<br>Preencha o formulário agora e conte com a nossa experiência para te guiar nessa escolha! 🚀💙</p>
            </div>
            <!-- IMG DO AVATAR -->
            <div>
                <img class="img-descricao" src="{% static 'img/modelo-medica-v4.png' %}" alt="Avatar">
                <!-- BTN FORM -->
                <div class="form-field btn-enviar-container">
                    <a href="#form" class="btn-custom">Garanta sua cotação personalizada</a>
                </div>

            </div>
        </div>
        </section>
        <!-- Botão Flutuante do WhatsApp -->
        <a href="https://wa.me/5516999628815?text=Olá%20gostaria%20de%20atendimento%20pela%20central%20de%20vendas%20AF%20saúde!", class="whatsapp-float" target="_blank">
            <span class="whatsapp-text">Fale Conosco</span>
            <i class="fab fa-whatsapp"></i>
        </a>

        <section>
            <footer>
                <i class="fa fa-copyright" aria-hidden="true">Copyright</i>
                <div class="item-footer">Desenvolvido por Antherus - Desenvolvimento Web</div>
                <span ><i class="fab fa-whatsapp"></i></span>
                <span>(16) 993379492</span>
            </footer>
        </section>

    
</body>
</html>
